<!DOCTYPE html>
<html>

<head>
  <title>Scheduleit</title>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--meta(name='viewport' content='width-->
  <meta property="og:image" content="https://res.cloudinary.com/dd55xpl6b/image/upload/v1676899334/Og_scch0z.jpg">
  <meta property="og:title" content="Scheduleit">
  <meta property="og:description" content="A tool to help you choosing a suitable date for an exam.">
  <% if (lang == 'ar') { %>
    <link rel="stylesheet" href="/stylesheets/style_ar.css">
  <% } %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

  <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/addDats.js"></script>
</body>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark background-dark-l shadow-sm" id="index-navbar">
    <div class="container">
      <a class="navbar-brand text-white" href="/">Scheduleit <i class="fa fa-calendar" style="color:white;"></i></a>
      <% let langHref= "/en"; if (lang == 'en') {langHref="/ar"} else {langHref="/en"} %>
      <% let langIcon= "English"; if (lang == 'en') {langIcon="عربي"} else {langIcon="English"} %>
      <a class="navbar-brand text-white" href="<%= langHref%>"> <%= langIcon%></a>
    </div>
  </nav>
  <div class="container">
    <div class="body pb-2" id="index-card">
      <div class="card rounded background-dark-l text-white">
        <div class="card-body">

          <h1 class="card-title">Scheduleit <i class='fa fa-calendar' style='color:white;'></i></h1>
          <p class="card-text" id="idea-text"> <%= __('idea-message') %></p>
          <form method="post" id="form">
            <div class="form-row">
              <div class="col">
                <label for="title"><%= __('prompt') %> </label>
                <input class="form-control" type="text" id="title" name="title" placeholder="<%= __('prompt-placeholder') %>"
                  required>
              </div>
              <div class="col">
                <label for="date"><%= __('start-date') %> </label>
                <input class="form-control" type="date" id="dateStart" name="dateStart" placeholder="Select the start date"required>
              </div>
              <div class="col">
                <label for="date"><%= __('end-date') %> </label>
                <input class="form-control" type="date" id="dateEnd" name="dateEnd" placeholder="Select the end date" required>
              </div>
            </div>
          </form>

          <div class="center">
            <a href="./schedule"><button class="card-button btn btn-lg btn-color mt-5 mb-3 button " form="form"><%= __('form-create') %></button></a>
          </div>
        </div>
      </div>

    </div>
    <div class="footer"></div>
  </div>

</body>

</html>
